* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Space Mono';
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow-x: hidden;
}

img {
	vertical-align: middle;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

@media only screen and (max-width:578px) {
	body {
		padding: 65px 0 0 0;
	}
}