.about-hero {
	padding: 62px 0 120px;
	background-image: url('../images/about-back.png');
	background-repeat: no-repeat;
	background-size: 100% 200px;
	background-position: top;
}

.about-hero__top {
	display: flex;
}

.about-hero__title {
	margin: 0;
	margin-bottom: 192px;
	font-weight: 700;
	font-size: 56px;
	line-height: 100%;
	letter-spacing: -2.5px;
	color: #ffffff;
}

.about-hero__circle {
	position: relative;
	top: 0;
	left: 960px;
	display: inline-block;
	width: 62px;
	height: 62px;
	border: 3px solid #ffffff;
	border-radius: 50%;
}

.about-hero__circle+.about-hero__circle {
	margin-left: 24px;
}

.about-hero__circle--active {
	background-color: #ffffff;
}

.about-hero__list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;

	&::before {
		position: absolute;
		top: 0;
		right: calc(50% - 1100px);
		width: 445px;
		height: 445px;
		background-image: url('../images/riding-content-mask.png');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: calc(50% - 1100px);
		width: 445px;
		height: 445px;
		background-image: url('../images/riding-content-mask.png');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}
}

.about-hero__item {
	position: relative;
	display: flex;
	align-items: center;

	&:nth-child(2) {
		flex-direction: row-reverse;
	}

	&:nth-child(2)>.about-hero__item-content {
		margin-right: 0;
		margin-left: 220px;
	}

	&::before {
		position: absolute;
		bottom: calc(50% - 200px);
		right: calc(50% - 730px);
		width: 735px;
		height: 155px;
		background-image: url('../images/about-hero-item-after.png');
		background-repeat: no-repeat;
		background-size: 100%;
		content: '';
	}

	&:nth-child(2)::before {
		position: absolute;
		top: calc(50% - 222px);
		left: calc(50% - 800px);
		width: 450px;
		height: 155px;
		background-image: url('../images/border-right.png');
		background-repeat: no-repeat;
		content: '';
	}
}

.about-hero__item+.about-hero__item {
	margin-top: 77px;
}

.about-hero__item-content {
	width: 100%;
	max-width: 445px;
	margin-right: 220px;
}

.about-hero__item-title {
	margin: 0;
	margin-bottom: 24px;
	font-weight: 700;
	font-size: 48px;
	line-height: 100%;
	letter-spacing: -2.14286px;
	color: #495567;
}

.about-hero__item-text {
	margin: 0;
	font-family: 'Lexend Deca';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 167%;
	color: #939caa;
}

.about-hero__item-img {
	border-radius: 50%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.about-hero__item {
		&::before {
			background-image: url('../images/about-hero-item-after@2x.png');
		}
	}
}