.header__inner {
    display: flex;
    align-items: center;
    padding: 22px 0;
    gap: 58px;
}

.header__navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 32px;
}

.nav__item {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
}

.nav__link {
    color: #939CAA;
    text-decoration: none;
    transition: 0.2s ease;

    &:hover {
        color: #FCB72B;
    }
}

.header__btn {
    padding: 14px 39px;
    background: #FCB72B;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
        color: #FCB72B;
        background-color: transparent;
        border: 2px solid #FCB72B;
    }
}

.hamburger {
    position: absolute;
    left: 32px;
    top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger {
    display: none;
}


@media only screen and (max-width:768px) {
    .hamburger {
        display: none;
    }
}


@media only screen and (max-width:670px) {
    .header__inner {
        gap: 40px;
    }

    .header__btn {
        padding: 10px 30px;
    }
}

@media only screen and (max-width:616px) {
    .header__inner {
        gap: 20px;
    }

    .header__btn {
        padding: 8px 25px;
    }
}

@media only screen and (max-width:578px) {
    .header__img {
        margin: 0 auto;
    }

    .header__imgs {
        width: 75px;
        height: 20px;
    }

    .hamburger {
        display: block;
    }

    .hamburger>span {
        display: block;
        margin-bottom: 4px;
        width: 23px;
        height: 4px;
        background: #fcb72b;
    }

    .header__navdiv {
        display: none;
    }
}