.hero {
    background-image: url("../../images/Bitmap-section.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__inner {
    max-width: 500px;
    width: 100%;
    padding: 152px 0 0 0;
}

.hero__title {
    margin: 0 0 40px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
}

.hero__info {
    padding-left: 80px;

    &::before {
        position: relative;
        left: -250px;
        top: 60px;
        display: block;
        background-image: url('../images/border-left.png');
        width: 203px;

        height: 15px;
        background-repeat: no-repeat;
        content: "";
    }

    &::after {
        position: relative;
        left: 435px;
        top: -147px;
        display: block;
        background-image: url('../images/border-right.png');
        width: 450px;
        height: 150px;
        background-repeat: no-repeat;
        content: "";
    }
}

.hero__text {
    margin: 0 0 40px 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
}

.hero__btn {
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    background: #FCB72B;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid #FCB72B;

    &:hover {
        color: #FCB72B;
        background-color: transparent;
        border: 2px solid #FCB72B;
    }
}

@media only screen and (max-width:768px) {
    
    .hero {
        background-image: url("../images/Bitmap.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__info {
        text-align: center;
        padding: 0;
    }

    .hero__info::before {
        display: none;
    }

    .hero__info::after {
        position: absolute;
        left: -135px;
        top: 540px;
        display: block;
        background-image: url('../images/border-right.png');
        width: 450px;
        height: 149px;
        background-repeat: no-repeat;
        content: "";
    }

    .hero__inner {
        max-width: 570px;
        width: 100%;
        padding: 137px 0 209px 0;
        margin: 0 auto;
        text-align: center;
    }

    .hero__title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -1.78571px;
    }

    .hero__text {
        margin-bottom: 34px;
    }
}

@media only screen and (max-width:576px) {

    .hero {
        background-image: url("../images/Bitmap-media.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero__info {
        text-align: center;
        padding: 0;
    }

    .hero__info::before {
        display: none;
    }

    .hero__info::after {
        position: absolute;
        left: -135px;
        top: 610px;
        display: block;
        background-image: url('../images/border-right.png');
        width: 450px;
        height: 149px;
        background-repeat: no-repeat;
        content: "";
    }

    .hero__inner {
        max-width: 310px;
        width: 100%;
        padding: 137px 0 209px 0;
        margin: 0 auto;
        text-align: center;
    }

    .hero__title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -1.78571px;
    }

    .hero__text {
        margin-bottom: 34px;
    }
}