.steps__inner {
    padding: 160px 0 200px 0;

    &::before {
        display: block;
        position: relative;
        top: 60px;
        left: -175px;
        width: 930px;
        height: 15px;
        background-color: #e5ecf4;
        z-index: -111;
        content: "";
    }
}

.steps__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.steps__item {
    max-width: 350px;
    width: 100%;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.steps__img {
    margin-bottom: 40px;
}

.steps__title {
    display: block;
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
}

.steps__text {
    margin: 0;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}


@media only screen and (max-width:768px) {
    .steps__inner {
        position: relative;
        padding: 125px 0 145px 0;
    }

    .steps__inner::before {
        display: none;
    }

    .steps__list {
        flex-direction: column;
    }

    .steps__item {
        max-width: 573px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-bottom: 40px;
    }

    .steps__img {
        margin-bottom: 0;
        margin-right: 80px;
    }
}


@media only screen and (max-width:568px) { 
    .steps__list {
        text-align: center;
    }

    .steps__item {
        flex-direction: column;
        max-width: 311px;
        width: 100%;
    }

    .steps__img {
        margin-right: 0;
        margin-bottom: 24px;
        width: 56px;
        height: 56px;
    }
}